<% @user.geekdoors.each_slice(5) do |door_list| %>
  <ul class="door">
    <% door_list.each do |door| %>
    <li>
      <% if current_user %>
        <%= link_to "Delete", geekdoor_path(door), :method => "delete",
                                            :class => "delete_door" %>
      <% end %>      
      <div class="pull-right"><%= door.name %></div>
        <span class="hotkey radius">Ctrl</span> + <span class="hotkey radius"><%= door.hotkey %></span>
      <%= submit_tag door.hotkey, :class => "door_submit" %>        
    </li>
    <% end %>
  </ul>  
<% end %>