<%= form_tag("geekdoors/search", :method => "get", :target => "_blank", :id => "main_form") do %>
  <div id="keyword_field">
    <%= text_field_tag("keyword", nil, :placeholder => 'input your keyword', :tabindex => "1") %>
    <p id="hint">Hint: <%= @hint[0] %></p>                                                                                                       
  </div>
  
  <div id="doorid"></div>
  <div id="doors" class="clearfix">
    <%= render :partial => "door" %>
  </div>
<% end %>
