<%= form_tag("geekdoors/search", :method => "get") do %>
  <%= label_tag "Start from here" %>
  <%= text_field_tag("keyword", nil, :placeholder => '请输入要搜索的内容', :tabindex => "1") %>
  
  <div id="doorid"></div>
  
  <div id="doors">
    <%= render :partial => "door" %>
  </div>
<% end %>
