#about {
  margin: 20px 0 0 50px;
}

#about h1 {
	font-size: 1.8em;
	font-weight: bold;
	color: #998242;
}

#about h2{
	font-size: 1.5em;
	font-weight: bold;
	color: #993F47;
	margin-bottom: 3px;
}

#about p#ps {
	font-size: 1.2em;
	font-weight: bold;
	color: #AE1E1B;
}

#about span.url {
  background-color: #B4B34A;
  padding: 5px;
}

p.by {
	margin: 15px 0 0 0;
	text-align: right;
	font-size: 0.9em;
	font-family: "Comic Sans MS", Verdana, Helvetica, Arial;
}

pre {
}