// Place all the styles related to the geekdoors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#keyword_field {
	margin-bottom: 30px;
}

#keyword {
	font-family: "Helvetica Neue", "Comic Sans MS", Verdana, Helvetica, Arial;
}

#doors {
	text-align: left;
	font-family: "Comic Sans MS", "Helvetica Neue", Verdana, Helvetica, Arial;
	color: #3A3226;
	float: right;
	position: relative;
	right: 50%;
}

ul.door {
  float: left;
  position: relative;
  left: 50%;
/*  display: inline;*/
}

ul.door li {
	margin-bottom: 7px;
	font-size: 1.3em;
}

.door_link {
/*	cursor: pointer;*/
}

.door_link:hover {
/*	background-color: #993F4B;*/
}

.door_submit {
	display: none;
}

span.door_name {
}

span.hotkey {
	font-size: 12px;
	font-weight: 700;
	padding: 3px;
}

form#new_geekdoor {
	display: none;
}

.longbar {
	margin-bottom: 20px;
	width: 300px;
}

.delete_door {
	display: none;
	font-size: 12px;
	color: #AB3B3A;
}

input#geekdoor_name {
	width: 150px;
}

input#geekdoor_url {
	width: 400px;
}

input#geekdoor_hotkey {
	width: 50px;
}