// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url("texture.png") repeat scroll 0 0 #F596AA;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}